@using Mpmt.Core.Dtos.PartnerReport
@using Mpmt.Core.Dtos.Paging
@using Mpmt.Core.Dtos.Pagination
@model PagedList<RemitFeeTxnReport>
@{
    var sn = 1;
    decimal totalAmt = 0.0m;
    decimal totalRecAmt = 0.0m;
    var nooftxn = 0;
}
<div class="table-responsive">
    <table id="datatable-buttons156" class="table table-striped dataTable nowrap">
        <thead class="table-light">
            <tr>
                <th>SN</th>
                <th>Sender Txn Date</th>
                <th>Receiver Txn Date</th>
                @* <th>Sender Details</th>
                <th>Receiver Details</th> *@
                <th>Transcation Id</th>
                <th>Parent Transcation Id</th>
                <th>Partner Id</th>
                <th>Partner Full Name</th>
                <th>Source Currency</th>
                <th>Destination Currency</th>
                <th>Payment Type</th>
                <th>Amount</th>
                <th>Service Charge</th>
                <th>Service Charge (USD)</th>
                <th>Status</th>
                @* <th>Send Amount</th>
                <th>Receive Amount</th>
                <th>Sender User Status</th>
                <th>Receiver User Status</th>
                <th>Payment Details</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.SN</td>
                    <td>@item.SenderCreatedDate.ToString("yyyy-MM-dd hh:mm:ss tt")</td>
                    <td>@item.ReceiverCreatedDate.ToString("yyyy-MM-dd hh:mm:ss tt")</td>
                    @* <td><a class="btn btn-sm btn-soft-info btn-circle me-2" onclick="ShowPopUp('@Url.Action("SenderDetail", "Reports", new { TransactionId = item.ParentTransactionId })', 'Sender Detail')">@item.SenderDtl</a></td>
                <td><a class="btn btn-sm btn-soft-info btn-circle me-2" onclick="ShowPopUp('@Url.Action("ReciverDetail", "Reports", new { TransactionId = item.ParentTransactionId })', 'Receiver Detail')">@item.ReceiverDtl</a></td> *@
                    <td>@item.TransactionId</td>
                    <td>@item.ParentTransactionId</td>
                    <td>@item.PartnerId</td>
                    <td>@item.PartnerFullName</td>
                    <td>@item.SourceCurrency</td>
                    <td>@item.DestinationCurrency</td>
                    <td>@item.PaymentType</td>
                    <td>@item.Amount.ToString("N2")</td>
                    <td>@item.ServiceCharge.ToString("N2")</td>
                    <td>@item.ServiceChargeUSD.ToString("N2")</td>
                    <td>@item.Status</td>
                    @* <td>@item.SendAmount.ToString("N2")</td>
                <td>@item.ReceiveAmount.ToString("N2")</td>
                <td>@item.SenderUserStatus</td>
                <td>@item.ReceiverUserStatus</td>
                <td><a class="btn btn-sm btn-soft-info btn-circle me-2" onclick="ShowPopUp('@Url.Action("PaymentDetail", "Reports", new { TransactionId = item.ParentTransactionId })', 'Payment Detail')">View Detail</a></td> *@
                </tr>
                sn = sn + 1;
                nooftxn = nooftxn + 1;
                totalAmt = totalAmt + Convert.ToDecimal(item.Amount.ToString() ?? "0.00");
                //totalRecAmt = totalRecAmt + Convert.ToDecimal(item.ReceiveAmount.ToString() ?? "0.00");
            }
        </tbody>
        <thead class="table table-striped dataTable nowrap">
            <tr>
                <th>Total :</th>
                <th></th>
                <th></th>
                <th>No of Transaction : @nooftxn</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>@totalAmt</th>         
                <th></th>
                <th></th>
                <th></th>               
            </tr>
        </thead>
    </table>
</div>

<partial name="_PaginationFooter"
         model="new PaginationFooter(Model.PageNumber, Model.PageSize, Model.Items.Count(), Model.FilteredCount, Model.TotalCount, Model.TotalPages)" />