@using Mpmt.Agent.Models.TransactionSearch;
@model AgentPayOutReceiptModel

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card mt-5">
                    <div class="card-body invoice-head">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12 mb-6 align-self-center">
                                @*<div class="text-center"><small class="font-14">Payment Receipt(Official Copy)</small></div>
                                *@
                            </div>
                            <div class="col-md-4 align-self-center">
                                <img src="../assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark" height="40">
                            </div>
                            <div class="col-md-8 text-end">
                                <ul class="list-inline mb-0 contact-detail float-end">
                                    <li class="list-inline-item border-0">
                                        <div class="ps-3">
                                            <p class=" mb-0"><b>Organization Name : </b>@Model.AgentOrganizationName</p>
                                            <p class="text-muted mb-0"><b>Contact : </b>@Model.AgentContactNumber</p>
                                            <p class="text-muted mb-0"><b>Address : </b>@Model.AgentAddress</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="float-left">
                                    <address class="font-13">
                                        <b>Control No :</b> @Model.ControlNumber<br>
                                        <b>Paid Date : </b> @Model.TransactionDate<br><br>
                                        <b>Paid Date(BS) : </b> @Model.TransactionDateNepali<br><br>
                                        <b>Mode of Payment :</b> @Model.ModeOfPayment<br>
                                        <b>Status :</b> <span class="badge bg-soft-success "> @Model.Status</span><br>
                                    </address>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="float-left">
                                    <address class="font-13">
                                        <strong class="font-14 text-danger border-bottom">SENDER DETAILS :</strong><br>
                                        <b>Full Name :</b> @Model.SenderFullName<br>
                                        <b>Address : </b> @Model.SenderAddress<br>
                                        <b>Contact : @Model.SenderContactNumber</b>
                                    </address>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <address class="font-13">
                                        <strong class="font-14 text-danger border-bottom">RECEIVER DETAILS :</strong><br>
                                        <b>Full Name :</b> @Model.ReceiverFullName<br>
                                        <b>Address : </b> @Model.ReceiverAddress<br>
                                        <b>Contact : </b> @Model.ReceiverContactNumber<br>
                                        <b>ID Type : </b> @Model.ReceiverDocumentType<br>
                                        <b>ID Number : </b> @Model.ReceiverDocumentNumber<br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive project-invoice">
                                    <table class="table table-bordered mb-0">
                                        <tbody>
                                            <tr>
                                                <td class="border-0 font-14 text-dark"><b>Amount</b></td>
                                                <td class="border-0 font-14 text-dark">NPR. @Model.AmountNPR</td>
                                            </tr>
                                            <tr>
                                                <td class="border-0 font-14 text-dark"><b>Amount(In words)</b></td>
                                                <td class="border-0 font-14 text-dark">@ViewBag.Words</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <h5 class="mt-4">Terms And Condition :</h5>
                                <ul class="ps-3">
                                    <li><small class="font-12">All accounts are to be paid within 7 days from receipt of invoice. </small></li>
                                    <li><small class="font-12">To be paid by cheque or credit card or direct payment online.</small></li>
                                    @*  <li><small class="font-12"> If account is not paid within 7 days the credits details supplied as confirmation of work undertaken will be charged the agreed quoted fee noted above.</small></li> *@
                                </ul>
                            </div>
                            <div class="col-lg-6 align-self-end">
                                <div class="float-end">
                                    <small>Account Manager</small>
                                    <img src="#" alt="" class="mt-2 mb-1" height="26">
                                    <p class="border-top">Signature</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-12 col-xl-4 ms-auto align-self-center">
                                <div class="text-center"><small class="font-12">Thank you very much for doing business with us.</small></div>
                            </div>
                            <div class="col-lg-12 col-xl-4">
                                <div class="float-end d-print-none">
                                    <a href="javascript:window.print()" class="btn btn-soft-info btn-sm">Print</a>
                                    <a href="@Url.Action("SearchTransaction","TransactionSearch")" class="btn btn-soft-success btn-sm">Done</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>