@using Mpmt.Core.Dtos.PartnerSignUp;
@{
    Layout = null;
}

@model SignUpStep2
<!DOCTYPE html>
<html lang="en">
<style>
    #suggestionList {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: 1px solid #ccc;
        border-top: none;
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 1000;
    }

        #suggestionList li {
            padding: 5px;
            cursor: pointer;
        }

            #suggestionList li:hover {
                background-color: #f0f0f0;
            }
</style>

<head>
    <meta charset="utf-8" />
    <title>MyPay Remit Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
        .fit-image {
            width: 100%;
            object-fit: cover;
            height: 150px;
        }


        .small-label {
            font-size: 8px; /* Adjust the font size as needed */
        }

    </style>


    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo-sm.png">
    <!--Form Wizard-->
    <link rel="stylesheet" href="~/plugins/jquery-steps/jquery.steps.css">
    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/progressbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">

</head>

<body class="account-body accountbg">
    @{
        var sa = "@";
    }
    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 ">
                                <div class="p-3 text-center">
                                    <a href="index.php" class="logo logo-admin text-center">
                                        <img src="~/assets/images/logo.png" height="50" alt="logo" class="auth-logo">
                                    </a>
                                    <p class="text-muted  mb-0">Please fill up additional details for further process.</p>
                                </div>
                            </div>

                            <section class="step-wizard">
                                <ul class="step-wizard-list">
                                    <li class="step-wizard-item">
                                        <span class="progress-count">1</span>
                                        <span class="progress-label">User Details</span>
                                    </li>
                                    <li class="step-wizard-item current-item">
                                        <span class="progress-count">2</span>
                                        <span class="progress-label">Company Details</span>
                                    </li>
                                    <li class="step-wizard-item">
                                        <span class="progress-count ">3</span>
                                        <span class="progress-label">Director Details</span>
                                    </li>
                                    <li class="step-wizard-item">
                                        <span class="progress-count">4</span>
                                        <span class="progress-label">Document Details</span>
                                    </li>
                                </ul>
                            </section>
                            <div class="card-body p-0">

                                <div class="p-3 text-start">
                                    <form id="formStepTwo" class="form-horizontal form-wizard-wrapper register" enctype="multipart/form-data" asp-action="Step2" asp-controller="Registration" method="post">
                                        <input asp-for="Email" hidden readonly />
                                        <input asp-for="Token" hidden readonly />
                                        @if (ViewBag.Error is not null)
                                        {
                                            <li class="text-danger">@ViewBag.Error</li>
                                        }
                                        <h3>Company Details</h3>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-12 mb-2">
                                                    <label class="form-label">Organization Name<sapn class="text-danger">*</sapn></label>
                                                    <input type="text" asp-for="OrganizationName" class="form-control">
                                                    <span asp-validation-for="OrganizationName" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Company Registration Number<sapn class="text-danger">*</sapn></label>
                                                    <input type="number" asp-for="RegistrationNumber" class="form-control">
                                                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Business Number</label>
                                                    <input type="number" id="businessnumber" asp-for="BusinessNumber" class="form-control">
                                                    <span asp-validation-for="BusinessNumber" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Financial Transaction Reg. No.</label>
                                                    <input type="number" id="finanacialtransactionno" asp-for="FinancialTransactionRegNo" class="form-control">
                                                    <span asp-validation-for="FinancialTransactionRegNo" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">License Number</label>
                                                    <input type="number" id="licensenumber" asp-for="LicenseNumber" class="form-control">
                                                    <span asp-validation-for="LicenseNumber" class="text-danger"></span>

                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Remittance Reg. Number</label>
                                                    <input type="number" id="remittancenumber" asp-for="RemittancRegNumber" class="form-control">
                                                    <span asp-validation-for="RemittancRegNumber" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label for="validationCustomUsername" class="form-label">Email <sapn class="text-danger">*</sapn></label>
                                                    <div class="input-group has-validation">

                                                        @* <span class="input-group-text" id="inputGroupPrepend">@sa</span> *@
                                                        <input type="text" asp-for="OrgEmail" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend">

                                                    </div>
                                                    <span asp-validation-for="OrgEmail" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Country Name<sapn class="text-danger">*</sapn></label>

                                                    <select id="countrycode" name="countrycode" asp-for="CountryCode" class="form-select" asp-items="@ViewBag.Countryddl">
                                                        <option value="">Select Country</option>
                                                        
                                                    </select>
                                                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">State<sapn class="text-danger">*</sapn></label>
                                                    <input id="state" type="text" asp-for="OrgState" class="form-control">
                                                    <span asp-validation-for="OrgState" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">City<sapn class="text-danger">*</sapn></label>
                                                    <input id="city" type="text" asp-for="City" class="form-control">
                                                    <span asp-validation-for="City" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Address<sapn class="text-danger">*</sapn></label>
                                                    <input type="text" id="addressSearch" asp-for="Address" class="form-control">

                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                    <ul id="suggestionList"></ul>
                                                </div>

                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Zip Code<sapn class="text-danger">*</sapn></label>
                                                    <input id="zipcode" type="number" asp-for="ZipCode" class="form-control">
                                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">GMT Time Zone<sapn class="text-danger">*</sapn></label>
                                                    <div class="input-group has-validation">
                                                        <span class="input-group-text" id="inputGroupPrepend">GMT</span>
                                                        <select asp-for="GMTTimeZone" class="form-select" asp-items="@ViewBag.UtctimeZone">
                                                            <option value="">Select GMT</option>
                                                        </select>
                                                    </div>
                                                    <span asp-validation-for="GMTTimeZone" class="text-danger"></span>

                                                </div>


                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Local (Source) Currency<sapn class="text-danger">*</sapn></label>
                                                    <select asp-for="SourceCurrency" class="form-select" asp-items="@ViewBag.Currency">
                                                        <option value="">Select Currency</option>
                                                    </select>
                                                    <span asp-validation-for="SourceCurrency" class="text-danger"></span>

                                                </div>
                                                <div class="col-md-6 mb-2">
                                                    <label class="form-label">Company Logo<sapn class="text-danger">*</sapn></label>
                                                    <div class="input-group mb-3">
                                                        <input asp-for="CompanyLogoImg" type="file" class="form-control" accept=".png, .jpg, .jpeg" onchange="onimagechange(this,'CompanyLogoImgregId','logohide', 'LicenseimagetextCompanyLogoImg')">
                                                        <label style="font-weight: bold;" class="small-label">Insert images with png, jpg and jpeg format (< 5MB)</label>
                                                    </div>
                                                    <span id="LicenseimagetextCompanyLogoImg" class="text-danger" hidden></span>
                                                    @{
                                                        if (Model != null)
                                                        {
                                                            if (!string.IsNullOrWhiteSpace(Model.CompanyLogoImgPath))
                                                            {
                                                                    <input asp-for="CompanyLogoImgPath" hidden readonly />
                                                                    <img style="width:90px;" id="logohide" accept=".png, .jpg, .jpeg" src="@Model.CompanyLogoImgPath" alt="CompanyLogoImgPath">
                                                            }

                                                        }
                                                    }
                                                    <img id="CompanyLogoImgregId" src="#" style="width:90px;" hidden>
                                                    <span asp-validation-for="CompanyLogoImg" class="text-danger"></span>
                                                </div>
                                                <div class="card mt-3">
                                                    <div class="card-header">
                                                        <div class="row align-items-center">
                                                            <div class="col-10">
                                                                <h6 class="card-title text-primary">License Document</h6>
                                                            </div>
                                                            <div class="col-2">
                                                                <a onclick="AddLicense()" data-repeater-create="" class="btn btn-soft-primary btn-sm">
                                                                    <span class="fas fa-plus"></span>Add License
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            @if (Model.LicensedocImgPath != null && Model.LicensedocImgPath.Count > 0)
                                                            {
                                                                foreach (var image in Model.LicensedocImgPath)
                                                                {
                                                                    var imageid = Guid.NewGuid();
                                                                    <div class="col-4" id="@imageid">

                                                                        <img src="@image" alt="docimg" class="img-responsive fit-image" />
                                                                        <input asp-for="@Model.LicensedocImgPath" value="@image" accept=".png, .jpg, .jpeg" hidden readonly />
                                                                        <a class="btn btn-danger" onclick="deleteimage('@imageid','@image')">Delete Image</a>

                                                                    </div>
                                                                }

                                                            }

                                                            <div class="row">
                                                                <div id="License" class="repeater-default">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-6 mb-2">
                                                <label class="form-label">License Document<sapn class="text-danger">*</sapn></label>
                                                <div class="input-group mb-3">
                                                <input asp-for="LicensedocImg" type="file" class="form-control" accept=".png, .jpg, .jpeg" onchange="onimagechange(this,'LicensedocImgregid')">
                                                </div>
                                                @{
                                                if (Model != null)
                                                {
                                                if (!string.IsNullOrWhiteSpace(Model.LicensedocImgPath))
                                                {
                                                <input asp-for="LicensedocImgPath" hidden readonly />
                                                <img style="width:90px;" id="logohide" src="@Model.LicensedocImgPath" alt="@Model.LicensedocImgPath">
                                                }

                                                }
                                                }
                                                <img id="LicensedocImgregid" src="#" style="width:90px;" hidden>
                                                <span asp-validation-for="LicensedocImg" class="text-danger"></span>
                                                </div>*@

                                            </div>
                                        </fieldset><!--end fieldset-->
                                        @* <a class="btn btn-primary" asp-action="Step1" asp-controller="Registration" asp-route-Token="@Model.Token">
                                        previous
                                        </a> *@
                                        <div class="text-end">

                                            <button class="btn btn-primary" id="submitButton" type="submit" disabled>Next</button>
                                        </div>

                                    </form><!--end form-->
                                </div>
                            </div><!--end card-body-->
                            <div class="card-body bg-light-alt text-center border-top">
                                <span class="text-muted d-none d-sm-inline-block">
                                    MyPay Remit © <script>
                                                      document.write(new Date().getFullYear())
                                    </script>
                                </span>
                            </div>
                        </div><!--end card-->
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->
    <!-- End Log In page -->
    <script>
        var count = 0;
        var Licensecount = 0;
        function AddLicense() {
            debugger;

            const listDiv = document.getElementById("License");
            const directorTemplate = `
                                                                    <div id="License-${Licensecount}" data-repeater-list="car">
                                                                                                                    <div data-repeater-item="">
                                                                                                                        <div class="form-group row d-flex align-items-end">
                                                                                                                                 <div class="col-md-10 ">

                                                                                                                                                    <img id="Licenseimage-${Licensecount}" src="#" style="width:90px;" accept=".png, .jpg, .jpeg"  hidden>
                                                                                                                                                            <input type="file" class="form-control" id="LicensedocImg[${Licensecount}]" name="LicensedocImg" accept="image/*" onchange="onimagechange(this,'Licenseimage-${Licensecount}','','Licenseimagetext-${Licensecount}')" required/>
                                                                                                                                                    <span asp-validation-for="LicensedocImg[${Licensecount}]" class="text-danger" ></span>
                                                                                                                          </div>


                                                                                                                                    <div class="col-md-1">
                                                                                                                                            <button onclick="removeelement('License-${Licensecount}')"class="btn btn-sm btn-danger" data-repeater-delete="">
                                                                                                                                        <i class="dripicons-trash"></i></button>
                                                                                                                          </div>
                                                                                                                                           <span id="Licenseimagetext-${Licensecount}" class="text-danger" hidden></span>
                                                                                                                        </div><!--end row-->
                                                                                                                    </div><!--end /div-->
                                                                                                                            </div><!--end repet-list-->
                                                                                                               `;
            listDiv.insertAdjacentHTML("beforeend", directorTemplate);
            Licensecount = Licensecount + 1;
        }
        function removeelement(divId) {
            debugger
            const divToRemove = document.getElementById(divId);
            if (divToRemove) {
                divToRemove.remove();
            }
        }
    </script>

    <script>
        function deleteimage(imageid, DeletedImage) {


            const listDiv = document.getElementById(imageid);
            const directorTemplate = `<input value="${DeletedImage}" hidden="" readonly="" type="text" id="DeletedLicensedocImgPath" name="DeletedLicensedocImgPath">`;
            listDiv.insertAdjacentHTML("afterend", directorTemplate);
            removeelement(imageid)
        }



    </script>

    <script>
        function onimagechange(data, id, hideimage = '', textid) {
            debugger
            readURL(data, id, textid);
            $('#' + hideimage).attr("hidden", true);
        }
        function readURL(input, id, textid) {
            debugger;

            if (input.files && input.files[0]) {
                if (input.files[0].type.split('/')[0] != 'image') {
                    $('#' + id).attr('src', "");
                    document.getElementById(textid).innerHTML = 'Invalid file extension select .png, .jpg, .jpeg'
                    $('#' + textid).removeAttr('hidden');
                    return false
                }
                else if (input.files[0].size < (5 * 1024 * 1024)) {
                    var reader = new FileReader();
                    reader.onload = function (e) {

                        var data = e.target.result;
                        document.getElementById(textid).innerHTML = ''
                        $('#' + id).attr('src', e.target.result);
                        $('#' + id).removeAttr('hidden');
                    }
                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    $('#' + id).attr('src', "");
                    document.getElementById(textid).innerHTML = 'Invalid Image File Size (<5 MB)'
                    $('#' + textid).removeAttr('hidden');
                }
            }
        };

    </script>

    <script>
        function validateImageInput() {
            debugger;
            var isValid = false;
            $('#License input[name^="LicensedocImg"]').each(function () {
                var $input = $(this);
                var $newSpan = $("<span class='text-danger'>Please select an image</span>");
                if (!$input.val()) {
                    $input.next("span").remove();
                    $input.after($newSpan);
                    isValid = false;
                } else {
                    $input.next("span").remove();
                    isValid = true;
                }
            });

            return isValid;
        }
    </script>

    <script>
        const formTwo = document.getElementById('formStepTwo');
        const submitButton = document.getElementById('submitButton');

        submitButton.addEventListener('click', (e) => {
            validateImageInput();
        });
    </script>
    @*
    <script>
    // Enable the submit button if all required fields are filled
    function validateForm() {
    let documentTypeId = document.getElementById("RDocumentTypedropdown").value;
    let documentNumber = document.getElementById("DocumentNumber").value;
    let issueDate = document.getElementById("RIssueDate").value;
    let idFrontImg = document.querySelector("input[name='IdFrontImg']").files.length > 0;
    let idBackImg = document.querySelector("input[name='IdBackImg']").files.length > 0;
    let addressProofTypeId = document.getElementById("RDocumentTypedropdown").value;
    let addressProofImg = document.querySelector("input[name='AddressProofImg']").files.length > 0;

    let allFieldsFilled = documentTypeId && documentNumber && issueDate && idFrontImg && idBackImg && addressProofTypeId && addressProofImg;

    document.getElementById("submitButton").disabled = !allFieldsFilled;
    }

    // Attach event listeners to all required fields
    document.getElementById("RDocumentTypedropdown").addEventListener("change", validateForm);
    document.getElementById("DocumentNumber").addEventListener("input", validateForm);
    document.getElementById("RIssueDate").addEventListener("change", validateForm);
    document.querySelector("input[name='IdFrontImg']").addEventListener("change", validateForm);
    document.querySelector("input[name='IdBackImg']").addEventListener("change", validateForm);
    document.getElementById("RDocumentTypedropdown").addEventListener("change", validateForm);
    document.querySelector("input[name='AddressProofImg']").addEventListener("change", validateForm);

    </script> *@


    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>


    <script src="~/plugins/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/assets/pages/jquery.form-wizard.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js"></script>

    <script src="~/plugins/repeater/jquery.repeater.min.js"></script>
    <script src="~/assets/pages/jquery.form-repeater.js"></script>

    <script>
        function showContainer() {
            var selectedOption = document.getElementById("payoutTypeSelect").value;
            var PrefundingContainers = document.getElementsByClassName("PrefundingContainer");
            var ConsContainers = document.getElementsByClassName("ConsContainer");

            for (var i = 0; i < PrefundingContainers.length; i++) {
                var PrefundingContainer = PrefundingContainers[i];

                if (selectedOption === "prefunding") {
                    PrefundingContainer.style.display = "block";
                } else {
                    PrefundingContainer.style.display = "none";
                }
            }

            for (var j = 0; j < ConsContainers.length; j++) {
                var ConsContainer = ConsContainers[j];

                if (selectedOption === "consumption") {
                    ConsContainer.style.display = "block";
                } else {
                    ConsContainer.style.display = "none";
                }
            }
        }
    </script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            debugger;
            const form = document.getElementById('formStepTwo');
            //r data = document.querySelectorAll('input["required"]', '#License input[name^="LicensedocImg"]'

            const fields = form.querySelectorAll('input, textarea, select');
            const nextButton = document.getElementById('submitButton');

            function checkFields() {
                let allFilled = true;
                fields.forEach(element => {
                    if (!['businessnumber', 'finanacialtransactionno', 'remittancenumber', 'licensenumber'].includes(element.id)) {
                        if (element.value.trim() === '') {
                            allFilled = false;
                        }
                    }
                });
                nextButton.disabled = !allFilled;
            }

            fields.forEach(field => {
                field.addEventListener('input', checkFields);
                field.addEventListener('change', checkFields);
            });

            checkFields(); // Initial check in case fields are pre-filled
        });

        function txnContainer() {
            var selectedOption = document.getElementById("txnTypeSelect").value;
            var TxnContainers = document.getElementsByClassName("OthersContainer");

            for (var i = 0; i < TxnContainers.length; i++) {
                var OthersContainer = TxnContainers[i];

                if (selectedOption === "others") {
                    OthersContainer.style.display = "block";
                } else {
                    OthersContainer.style.display = "none";
                }
            }
        }

        $(document).ready(function () {
            var button = document.getElementById("submitButton");
            button.disabled = true;

            if (checkFields()) {
                button.disabled = false;
            }


            validateImageInput();
            checkFields();
        });

        $("#mobile_code").intlTelInput({
            initialCountry: "in",
            separateDialCode: true,
            // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
        });

        function test() {
            $("#mobile_codes").intlTelInput({
                initialCountry: "in",
                separateDialCode: true,
                // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
            });
        }
    </script>


    <script>
        // $(document).ready(function () {
        //     debugger;
        //     $('#addressSearch').on('input', function () {

        //         var query = $(this).val();
        //         if (query.length >= 1) {
        //             $.ajax({
        //                 type: "POST",
        //                 url: '@Url.Action("Search", "Registration")',
        //                 data: { query: query },
        //                 success: function (suggestions) {
        //                     // alert(suggestions);
        //                     console.log(suggestions);
        //                     $('#suggestionList').empty();
        //                     $.each(suggestions, function (index, suggestions) {
        //                         $('#suggestionList').append('<li>' + suggestions + '</li>');
        //                     });
        //                     $('#suggestionList').show();
        //                 },
        //                 error: function (xhr, status, error) {
        //                     console.log(error);

        //                 }
        //             });
        //         } else {
        //             $('#suggestionList').hide();
        //         }
        //     });
        // });
        // $(document).on('click', '#suggestionList li', function () {
        //     $('#addressSearch').val($(this).text());
        //     $('#suggestionList').hide();
        // });


    </script>


    <script>
        $(document).ready(function () {
            $('#addressSearch').on('input', function () {
                var query = $(this).val();
                if (query.length >= 3) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Search", "Registration")',
                        //dataType: 'json',
                        data: { query: query },
                        success: function (suggestions) {
                            debugger;
                            $('#suggestionList').empty();
                            $.each(suggestions, function (index, suggestion) {
                                console.log('Setting data-placeid:', suggestion.placeId); 
                                var listItem = $('<li>').text(suggestion.description).data('placeid', suggestion.placeId);
                                $('#suggestionList').append(listItem);
                                // $('#suggestionList').append('<li data>' + suggestion.description + '</li>').data('placeid', suggestion.placeId);
                            });
                            $('#suggestionList').show();
                        },
                        error: function (xhr, status, error) {
                            console.log(error);

                        }
                    });
                } else {
                    $('#suggestionList').hide();
                }
            });
        });

        $(document).on('click', '#suggestionList li', function () {
            debugger;
            $('#addressSearch').val($(this).text());
            $('#suggestionList').hide();
          //  var address = $('#addressSearch').val();
           // var address = $(this).data('address');



            var placeId = $(this).data('placeid'); // Ensure this matches the data attribute
            $.ajax({
                url: '@Url.Action("GetAddressDetails", "Registration")',
                type: 'GET',
                dataType: 'json',
                data: { placeId: placeId },
                success: function (data) {
                    debugger;
                    console.log(data);
                   // $('#addressSearch').val(data.Address);
                    $('#city').val(data.city);
                    $('#state').val(data.state);
                    $('#zipcode').val(data.zipCode);
                    $('#suggestionList').hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });

        });
    </script>
</body>


</html>