@using Mpmt.Core.Dtos.AdminUser
@using Mpmt.Core.Dtos.Pagination
@using Mpmt.Core.Dtos.Paging
@using Mpmt.Core.Models.RMP;

@model PagedList<AdminUserDetails>

@{
    int sn = 1;
}
@{
    var actors = ViewBag.actions as IEnumerable<ActionPermission> ?? new List<ActionPermission>();
}


<div class="table-responsive tableFixHead">
    <table id="datatable-buttons156" class="table table-striped dataTable nowrap">
        <thead class="table-light">
            <tr>
                <th>Sn</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>IsValid Email</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Mobile Number</th>
                <th>IsValid Mobile</th>
                <th>Failed Login Attempt</th>
                <th>DOB</th>
                <th>Registered Date</th>
                <th>Temporary Locked Date</th>
                <th>Status</th>
                <th>Role</th>
                <th>Action</th>

            </tr>
        </thead>


        <tbody>
            @if (Model.Items.Count() <= 0)
            {
                <tr></tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-danger" style="font-size:16px;">
                        No Record Found
                    </td>
                </tr>
            }
            else
            {
                <style>
                    tr.active {
                        background: #ccc;
                    }

                    .tableFixHead {
                        overflow-y: auto;
                        height: 500px;
                    }

                        .tableFixHead thead th {
                            position: sticky;
                            top: 0px;
                        }
                </style>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.SN</td>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.EmailConfirmed</td>
                        <td>@item.Gender</td>
                        <td>@item.Address</td>
                        <td>@item.MobileNumber</td>
                        <td>@item.MobileConfirmed</td>
                        <td>@item.failedLoginAttempt</td>
                        <td>@item.DateOfBirth</td>
                        <td>@item.RegisteredDate</td>
                        <td>@item.TemporaryLockedTillDate</td>
                        @if (item.IsActive == true)
                        {
                            <td><span class="badge bg-soft-success px-2">Active</span></td>
                        }
                        else
                        {
                            <td><span class="badge bg-soft-danger px-2">InActive</span></td>
                        }
                        <td>@item.Role</td>
                        <td name="buttons">
                            <div class=" float-center">
                                @if (actors.FirstOrDefault(x => x.Action == "UpdateAdminUser")?.Permission ?? false)
                                {
                                    <a style="cursor:pointer" class="btn btn-sm btn-soft-success btn-circle me-2" onclick="ShowPopUp('@Url.Action("UpdateAdminUser", "AdminUser", new { id = item.Id })', 'Update Admin User')" title="Update Admin User"> <i class="dripicons-pencil" aria-hidden="true"></i></a>
                                }
                                @if (item.Role.ToLower() != "superadmin")
                                {
                                    @if (actors.FirstOrDefault(x => x.Action == "DeleteAdminUser")?.Permission ?? false)
                                    {
                                        <a style="cursor:pointer" class="btn btn-sm btn-soft-danger btn-circle me-2" onclick="ShowPopUp('@Url.Action("DeleteAdminUser", "AdminUser", new { id = item.Id })', 'Delete Admin User', 'modal-md')" title="Delete Admin User"> <i class="dripicons-trash" aria-hidden="true"></i></a>

                                    }
                                }
                                <a style="cursor:pointer" class="btn btn-sm btn-soft-info btn-circle" onclick="ShowPopUp('@Url.Action("AssignUserToRole", "AdminUser", new { id = item.Id,fullname=item.FullName,email=item.Email })', 'Assign Roles')" title="Assign Roles"> <i class="dripicons-swap" aria-hidden="true"></i></a>
                                @*@if (actors.FirstOrDefault(x => x.Action == "AssignUserToRole")?.Permission ?? false)
                        {

                        }*@
                            </div>
                        </td>
                    </tr>
                    sn = sn + 1;
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(function () {
        $('td').click(function () {
            $('tr').removeClass('active');
            $(this).parent().addClass('active');
        });
    });
</script>
<partial name="_PaginationFooter"
         model="new PaginationFooter(Model.PageNumber, Model.PageSize, Model.Items.Count(), Model.FilteredCount, Model.TotalCount, Model.TotalPages)" />