@using Mpmt.Core.Dtos.AgentApplications;
@using Mpmt.Core.Dtos.Pagination;
@using Mpmt.Core.Dtos.Paging;
@using Mpmt.Core.Models.RMP;

@model PagedList<AgentApplicationsModel>

@{
    var actors = ViewBag.actions as IEnumerable<ActionPermission> ?? new List<ActionPermission>();
}

<div class="table-responsive">
    <table id="datatable-buttons78" class="table table-striped dataTable nowrap">
        <thead class="table-light">
            <tr>
                <th>Sn</th>
                <th>Created Date</th>
                <th>Full Name</th>
                <th>Contact Number</th>
                <th>District</th>
                <th>Address</th>
                <th>Type of Business</th>
                <th>Ip Address</th>
                <th>IsReviewed</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td> @item.Sn </td>
                    <td> @item.CreatedLocalDate </td>
                    <td> @item.FullName </td>
                    <td> @item.ContactNumber </td>
                    <td> @item.District </td>
                    <td> @item.Address </td>
                    <td> @item.TypeOfBusiness </td>
                    <td> @item.IpAddress </td>
                    <td> @item.IsReviewed </td>
                    <td>
                        <a onclick="ShowPopUp('@Url.Action("ViewAgentApplicationsDetail","AgentApplications",new {AgentId = item.AgentId, FullName = item.FullName, ContactNumber = item.ContactNumber, District = item.District, Address = item.Address, TypeOfBusiness = item.TypeOfBusiness, Message = item.Message, IpAddress = item.IpAddress, IsReviewed = item.IsReviewed, CreatedLocalDate = item.CreatedLocalDate})','Agent Applications Details','.modal-sm')" data-bs-toggle="modal" data-bs-target="#sender" title="View Detail" class="text-primary"><i class="dripicons-preview"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_PaginationFooter"
         model="new PaginationFooter(Model.PageNumber, Model.PageSize, Model.Items.Count(), Model.FilteredCount, Model.TotalCount, Model.TotalPages)" />