@using Mpmt.Core.ViewModel.Module
@model List<ModuleWithChild>
<style>
    .__table {
        border-collapse: collapse;
        width: 100%;
        margin: 20px auto;
    }

        .__table tr td {
            padding: 5px;
            font-weight: 800;
        }

        .__table tr.parent td {
            cursor: pointer;
        }

        .__table tr.child td {
            color: #24695C;
            font-weight: 400;
        }

        .__table tr.child.hidden {
            display: none;
        }

</style>

<div class="table-responsive">
    <table id="datatable" class="__table table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead class="table-light">
            <tr>
                <th>Sn</th>
                <th>Module</th>
                <th>ParentId</th>
                <th>Display Order</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menu in Model.OrderBy(m => m.DisplayOrder))
            {


                if (menu.Module == "Module Manager")
                {

                    <tr class="parent" data-child="@menu.Id" onclick="changeclass(@menu.Id)" style="background-color:rgba(105 36 61 / 8%)">



                        <td colspan="2">@menu.Module</td>
                     
                        <td> <i class="fa-solid fa-bars-staggered p-r-5"></i> @menu.child.Count()</td>
                        <td>@menu.DisplayOrder</td>


                        <td class="status">
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="parent" data-child="@menu.Id" onclick="changeclass(@menu.Id)">

                        <td colspan="2" class="text-danger">@menu.Module</td>
                     
                        <td class="text-danger"><i class="dripicons-checklist"></i> @menu.child.Count()</td>
                        <td><input style="width:60%" placeholder="@menu.DisplayOrder" type="number" onfocusout="changeDisplayOrder('@Url.Action("UpdateModuleDisplayOrder","Module")','@menu.Id',this)" /></td>
                        <td>
                            @{



                                @if (menu.IsActive == true)
                                {

                                    <div class="form-check form-switch">
                                        <input asp-for="@menu.IsActive" class="form-check-input bg-success" onclick="changeMenuIsactive('@Url.Action("UpdateModuleIsactive","Module")','@menu.Id',this)" style="cursor: pointer" type="checkbox" id="menuActiveSwitch_@menu.Id">
                                    </div>



                                }
                                else
                                {

                                    <div class="form-check form-switch">
                                        <input asp-for="@menu.IsActive" onclick="changeMenuIsactive('@Url.Action("UpdateModuleIsactive","Module")','@menu.Id',this)" class="form-check-input bg-danger" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>

                                }


                            }

                        </td>
                        <td class="status">
                            <a style="cursor:pointer" class="btn btn-sm btn-soft-success btn-circle me-2" onclick="ShowPopUp('@Url.Action("UpdateModule", "Module", new {ModuleId = menu.Id })', 'Update Menu')"> <i class="dripicons-pencil" aria-hidden="true"></i></a>




                        </td>
                    </tr>
                }
                foreach (var child in menu.child.OrderBy(m => m.DisplayOrder))
                {

                    <tr class="child @menu.Id hidden ">
                        <td><i class="dripicons-arrow-thin-right"></i></td>
                        <td>@child.Module</td>
                       
                        <td>@child.ParentId</td>
                        <td><input style="width:60%" placeholder="@child.DisplayOrder" type="number" onfocusout="changeDisplayOrder('@Url.Action("UpdateModuleDisplayOrder","Module")','@child.Id',this)" /></td>
                        <td>
                            @{

                                @if (child.IsActive == true)
                                {

                                    <div class="form-check form-switch">
                                        <input asp-for="@child.IsActive" class="form-check-input bg-success" onclick="changeMenuIsactive('@Url.Action("UpdateModuleIsactive","Module")','@child.Id',this)" style="cursor: pointer" type="checkbox" id="menuActiveSwitch_@child.Id">
                                    </div>



                                }
                                else
                                {

                                    <div class="form-check form-switch">
                                        <input asp-for="@child.IsActive" onclick="changeMenuIsactive('@Url.Action("UpdateModuleIsactive","Module")','@child.Id',this)" class="form-check-input bg-danger" type="checkbox" id="menuActiveSwitch_@child.Id">
                                    </div>

                                }


                            }

                        </td>
                        <td class="status">
                            <a style="cursor:pointer" class="btn btn-sm btn-soft-success btn-circle me-2" onclick="ShowPopUp('@Url.Action("UpdateModule", "Module", new {ModuleId = child.Id })', 'Update Module')"> <i class="dripicons-pencil" aria-hidden="true"></i></a>
                            <a style="cursor:pointer" class="btn btn-sm btn-soft-danger btn-circle" onclick="PopUPAjaxDelete('@Url.Action("DeleteModule", "Module", new { ModuleId = child.Id })', 'Remove Module')"> <i class="dripicons-trash" aria-hidden="true"></i></a>

                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
