@using Mpmt.Core.Dtos.Relation
@using Mpmt.Core.Models.RMP;
@model IEnumerable<RelationDetails>
@{
    var actors = ViewBag.actions as IEnumerable<ActionPermission> ?? new List<ActionPermission>();
}
<table id="datatable" class="table table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead class="table-light">
        <tr>
            <th>Sn</th>
            <th>Relation Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var value in Model.Select((item, index) => new { item, index }))
        {
            <tr>
                <td>@(value.index + 1)</td>
                <td>@value.item.RelationName</td>
                <td>@value.item.Description</td>
                @if (value.item.IsActive == true)
                {
                    <td><span class="badge bg-soft-success px-2">Active</span></td>
                }
                else
                {
                    <td><span class="badge bg-soft-danger px-2">InActive</span></td>
                }
                <td name="buttons">
                    <div class=" float-center">
                        @if (actors.FirstOrDefault(x => x.Action == "UpdateRelation")?.Permission ?? false)
                        {
                            <a style="cursor:pointer" class="btn btn-sm btn-soft-success btn-circle me-2" onclick="ShowPopUp('@Url.Action("UpdateRelation", "Relation", new { RelationId = value.item.Id })', 'Update Relation')" title="Update Relation"> <i class="dripicons-pencil" aria-hidden="true"></i></a>
                        }
                        @if (actors.FirstOrDefault(x => x.Action == "DeleteRelation")?.Permission ?? false)
                            {
                        <a style="cursor:pointer" class="btn btn-sm btn-soft-danger btn-circle" onclick="PopUPAjaxDelete('@Url.Action("DeleteRelation", "Relation", new { RelationId = value.item.Id })', 'Remove Relation')" title="Delete Relation"> <i class="dripicons-trash" aria-hidden="true"></i></a>
                            }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>