@using Mpmt.Core.Dtos.Roles
@using Mpmt.Core.Models.RMP;
@model IEnumerable<PartnerRoleList>

@{
    int sn = 1;
}

<table id="datatable" class="table table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
    <thead class="table-light">
        <tr>
            <th>SN</th>
            <th>Role Name</th>
            <th>Description</th>
            <th>Is System Role</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@sn</td>
                <td>@item.RoleName</td>
                <td>@item.Description</td>
                @if (item.IsSystemRole == true)
                {
                    <td><span class="badge bg-soft-success px-2">Yes</span></td>
                }
                else
                {
                    <td><span class="badge bg-soft-danger px-2">No</span></td>
                }

                @if (item.IsActive == true)
                {
                    <td><span class="badge bg-soft-success px-2">Active</span></td>
                }
                else
                {
                    <td><span class="badge bg-soft-danger px-2">InActive</span></td>
                }
                <td name="buttons">
                    <div class=" float-center">
                        <a style="cursor:pointer" class="btn btn-sm btn-soft-success btn-circle me-2" onclick="ShowPopUp('@Url.Action("UpdatePartnerRole", "AdminPartnerRole", new { id = item.Id })', 'Update Partner Role')" title="Update Partner Role"> <i class="dripicons-pencil" aria-hidden="true"></i></a>
                        <a style="cursor:pointer" class="btn btn-sm btn-soft-danger btn-circle" onclick="ShowPopUp('@Url.Action("DeletePartnerRole", "AdminPartnerRole", new { id = item.Id })', 'Delete Partner Role','modal-dialog modal-md')" title="Delete Partner Role"> <i class="dripicons-trash" aria-hidden="true"></i></a>
                        <a style="cursor:pointer" class="btn btn-sm btn-soft-warning btn-circle" onclick="ShowPopUp('@Url.Action("PartnerMenuPermission", "AdminPartnerRole", new { RoleId = item.Id })', 'Partner Menu Permission','modal-dialog modal-lg')" title="Menu Permission"> <i class="dripicons-lock" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
            sn = sn + 1;
        }
    </tbody>
</table>
