@using Mpmt.Core.Dtos.InwardRemitanceReport
@using Mpmt.Core.Dtos.Pagination
@using Mpmt.Core.Dtos.Paging
@model PagedList<ActionTakenByRemitanceDto>

<div class="table-responsive">
    <table id="datatable-buttons156" class="table table-striped dataTable nowrap">
        <thead class="table-light">
            <tr>
                <th>SN</th>
                <th>Agent</th>
                <th>Province</th>
                <th>District</th>
                <th>Local Address</th>
                <th>Registered Date</th>
                <th>Action Required (Warning Dismiss)</th>
                <th>Date of Action</th>
                <th>Action Reason</th>
                <th>Settlement Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Count() <= 0)
            {
                <tr></tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-danger" style="font-size:16px;">
                        No Record Found
                    </td>
                </tr>
            }
            else
            {
                <link href="~/css/customfixedheader.css" rel="stylesheet" />
                @foreach (var value in Model.Items.Select((item, index) => new { item, index }))
                {
                    <tr>
                        <td>@value.item.SN</td>
                        <td>@value.item.Agent</td>
                        <td>@value.item.Province</td>
                        <td>@value.item.District</td>
                        <td>@value.item.LocalLevel</td>
                        <td>@value.item.RegisteredEngDate</td>
                        <td>@value.item.ActionRequired</td>
                        <td>@value.item.DateOfAction</td>
                        <td>@value.item.ActionReason</td>
                        <td>@value.item.SettlementAmount</td>
                    </tr>
                }
            }
        </tbody>       
    </table>
</div>
<script>
    $(function () {
        $('td').click(function () {
            $('tr').removeClass('active');
            $(this).parent().addClass('active');
        });
    });
</script>
<partial name="_PaginationFooter"
         model="new PaginationFooter(Model.PageNumber, Model.PageSize, Model.Items.Count(), Model.FilteredCount, Model.TotalCount, Model.TotalPages)" />