@using Mpmt.Core.Dtos.Paging
@using Mpmt.Core.Dtos.Pagination
@using Mpmt.Core.Dtos.Transaction
@model PagedList<CommisionTransction>

@{
    var txFilter = ViewBag.TransactionFilter as CommissionTransactionFilter;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Global Setting</a></li>
                            <li class="breadcrumb-item active">CommisionReports</li>
                        </ol>
                    </div>
                    <br />
                    <br />
                    <div class="col-auto align-self-center">
                        <div class="general-label">
                            <form id="formCommissionReportsFilter" class="row row-cols-lg-auto align-items-end">
                                <div class="col-12 mb-3">
                                    <label class="form-label mb-0" for="inlineFormSelectPref">Start Date</label>
                                    <input type="date" name="StartDate" class="form-control">
                                </div>
                                <div class="col-12 mb-3">
                                    <label class="form-label mb-0" for="inlineFormSelectPref">End Date</label>
                                    <input type="date" name="EndDate" class="form-control">
                                </div>
                                @* <div class="col-12 mb-3">
                                    <div class="input-group">
                                        <input type="text" id="partnerCode" name="PartnerCode" class="form-control" placeholder="Partner Code">
                                    </div>
                                </div> *@
                                <div class="col-12 mb-3">
                                    <div class="input-group">
                                        <input type="text" id="transactionId" name="TransactionId" class="form-control" placeholder="Transaction Id">
                                    </div>
                                </div>                               
                                @* <div class="col-12 mb-3">
                                    <label class="form-label mb-0" for="transactionType">Transaction Type</label>
                                    <select name="TransactionType" class="form-select" id="transactionType" required>
                                        <option value="">Select TransactionType</option>
                                        <option value="LOADWALLET">LOADWALLET</option>
                                        <option value="WALLETCONVERSION">WALLETCONVERSION</option>
                                        <option value="COMMISSION">COMMISSION</option>
                                        <option value="APITRANSACTION">APITRANSACTION</option>
                                        <option value="PARTNERTRANSACTION">PARTNERTRANSACTION</option>
                                    </select>
                                </div> *@
                              
                                <div class="col-12 mb-3">
                                    <label class="form-label mb-0" for="sourceCurrency">Source Currency</label>
                                    <select name="SourceCurrency" class="form-select" id="sourceCurrency" asp-items="@ViewBag.SCurrency" required>
                                        <option value="" selected>Select Currency</option>
                                    </select>
                                </div>
                                @*<div class="col-12 mb-3">
                                    <label class="form-label mb-0" for="inlineFormSelectPref">Destination Currency</label>
                                    <select name="DestinationCurrency" class="form-select" id="validationTooltip04" asp-items="@ViewBag.DCurrency" required>
                                        <option value="" selected>Select Currency</option>
                                    </select>
                                </div>*@
                                <div class="col-12 mb-3">
                                    <button type="button" id="btnCommisionReportsFilter" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="card-title">Remit Commission Transaction Reports</h4>
                        </div>
                        <div class="col-4">
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                <button id="btnRemitCommissionTransactionexportexcell" class="btn btn-primary">  Export to Excel</button>
                                <button id="btnRemitCommissionTransactionexportcsv" class="btn btn-primary"> Export to CSV</button>
                                <button id="btnRemitCommissionTransactionexportPdf" class="btn btn-primary"> Export to Pdf</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body overflow-x-auto">
                    <partial name="_PaginationHeader" />
                    <div id="CommissionReportsTableWrapper" class="table-responsive">
                        <partial name="_RemitCommissionTransactionReport" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/admin.pagination.js" asp-append-version="true"></script>
    <script src="~/js/admin.users.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('keypress', function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                // Enter key is pressed
                document.getElementById('btnCommisionReportsFilter').click();
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("RemitCommissionTransactionReport", "Reports")',
                selector: '#CommissionReportsTableWrapper'
            });
            $(Pagination).on('before', function (e) {
                e.preventDefault();
                var usersFilterFormValues = $('#formCommissionReportsFilter').serializeArray();
                $.each(usersFilterFormValues, function (i, obj) {
                    e.payload.paramsBuilder.addParameter(obj['name'], obj['value']);
                });
                e.payload.paramsBuilder.addParameters(getPaginationFieldParams());
            });
            addUsersPageHandlers();
            addPaginationHandlers();
            function addUsersPageHandlers() {
                $('#formCommissionReportsFilter').on('submit', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                })
                $('#btnCommisionReportsFilter').on('click', function (e) {
                    e.preventDefault();
                    Pagination.getData();
                    return false;
                });

                $('#btnRemitCommissionTransactionexportexcell').on('click', function (e) {

                    e.preventDefault();
                    var paramsA = {
                        Export: 1

                    };
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("ExportRemitCommissionTransactiontoexcell", "Reports")');

                    return false;
                });
                $('#btnRemitCommissionTransactionexportcsv').on('click', function (e) {

                    e.preventDefault();
                    var paramsA = {
                        Export: 1,

                    }
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("ExportRemitCommissionTransactionToCsv", "Reports")');

                    return false;
                });
                $('#btnRemitCommissionTransactionexportPdf').on('click', function (e) {
                    e.preventDefault();
                    var paramsA = {
                        Export: 1,

                    };
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("ExportRemitCommissionTransactiontoPdf", "Reports")');
                    return false;
                });
            }
        });
    </script>
}