@using Mpmt.Core.Dtos.Partner
@using Mpmt.Core.Models.RMP;
@model WalletCurrency
@{
    var actors = ViewBag.actions as IEnumerable<ActionPermission> ?? new List<ActionPermission>();
}
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Wallet Currency</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Partners</a></li>
                                <li class="breadcrumb-item active">Wallet Currency</li>
                            </ol>
                        </div><!--end col-->

                    </div><!--end row-->
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- end page title end breadcrumb -->

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="dastone-profile">
                            <div class="row">
                                <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                                    <div class="dastone-profile-main">
                                        <div class="dastone-profile-main-pic">
                                            <img src="~/assets/images/player.png" alt="" height="110" class="rounded-circle shadow-sm">

                                        </div>
                                        <div class="dastone-profile_user-detail">
                                            <h5 class="dastone-user-name">@Model.apppartner.UserName</h5>
                                            <p class="mb-0 dastone-user-name-post">Administrator</p>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-4 ms-auto align-self-center">
                                    <ul class="list-unstyled personal-detail mb-0">
                                        <li class=""><span class="text-secondary font-14 align-middle">Merchant ID</span> : 5498515</li>
                                        <li class=""><span class="text-secondary font-14 align-middle">Partner Code</span> : @Model.apppartner.PartnerCode</li>
                                        <li class=""><span class="text-secondary font-14 align-middle">Contact </span> : @Model.apppartner.MobileNumber</li>
                                        <li class=""><span class="text-secondary font-14 align-middle">Email </span> :  @Model.apppartner.Email</li>
                                        <li class=""><span class="text-secondary font-14 align-middle">Post </span> :  @Model.apppartner.Post</li>
                                        <li class=""><span class="text-secondary font-14 align-middle">Address </span> :  @Model.apppartner.FullAddress</li>
                                    </ul>

                                </div><!--end col-->

                            </div><!--end row-->
                        </div><!--end f_profile-->
                    </div><!--end card-body-->
                </div> <!--end card-->
            </div><!--end col-->

            <div class="col-12">
                <!--end card-->
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Wallet Currencies</h4>
                            </div>
                            <!--end col-->
                            <div class="col-auto">
                                 <form id="formpartnertype">
                                <input type="hidden" id="partnerId" name="partnerId" value="@Model.apppartner.Id" />
                                </form>
                            </div>
                            <!--end col-->

                        </div>
                        <!--end row-->
                    </div>
                    <!--end card-header-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card report-card">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h4 class="card-title">Wallet Currency List</h4>
                                            </div>

                                        </div>
                                        <!--end row-->
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group custom-list-group mb-n1">
                                            <div id="WalletCurrencyTableWrapper" class="table-responsive" style="overflow: visible;">
                                                <partial name="_PartnerWalletCurrencyList" model="@Model" />
                                            </div>
                                        </ul>

                                    </div><!--end card-body-->
                                    <div class="card-body text-center">
                                        @if (actors.FirstOrDefault(x => x.Action == "AddPartnerWalletCurrency")?.Permission ?? false)
{
                                        <a class="text-primary bg-soft-primary p-2 m-0 font-16 rounded" onclick="ShowPopUp('@Url.Action("AddPartnerWalletCurrency","Partners", new { PartnerCode = Model.apppartner.PartnerCode })','Add New Wallet')">
                                            <i class="mdi mdi-plus font-16"> </i> Add Wallet
                                        </a>
}
                                    </div>
                                </div><!--end card-->
                            </div>

                            <div class="col-md-6 col-lg-5">
                                <div class="card report-card">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h4 class="card-title">Convert Amount</h4>
                                            </div>

                                        </div>
                                        <!--end row-->
                                    </div>
                                    <div class="card-body">
                                        <div class="row d-flex justify-content-center bg-soft-primary ptb-10">
                                            <div class="col">
                                                <p class="text-dark mb-0 fw-semibold">You send <input type="number" class="form-control w-25" value="1001"></p>

                                            </div>
                                            <div class="col-auto align-self-center">
                                                <select class="form-select form-select-md" id="status-select">
                                                    <option selected="">AUD</option>
                                                    <option value="1">USD</option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="help-activity-height" data-simplebar>
                                            <div class="activity">
                                                <div class="activity-info">
                                                    <div class="icon-info-activity">
                                                        <i class="las la-dot-circle bg-soft-primary"></i>
                                                    </div>
                                                    <div class="activity-info-text">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <h5 class="text-muted mb-0 font-13 "><span>50.00 AUD</span></h5>
                                                            <span class="text-muted font-14">Total fees</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="activity-info">
                                                    <div class="icon-info-activity">
                                                        <i class="las la-dot-circle bg-soft-primary"></i>
                                                    </div>
                                                    <div class="activity-info-text">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <h5 class="text-muted mb-0 font-13 "><span>50.00 AUD</span></h5>
                                                            <span class="text-muted font-14">Total fees</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--end analytics-dash-activity-->
                                        </div><!--end card-body-->

                                        <div class="row d-flex justify-content-center bg-soft-primary ptb-10">
                                            <div class="col">
                                                <p class="text-dark mb-0 fw-semibold">Recipient gets</p>
                                                <h3 class="m-0">84470</h3>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <select class="form-select form-select-md align-middle" id="status-select">
                                                    <option selected="">NPR</option>
                                                    <option value="1">USD</option>

                                                </select>
                                            </div>
                                        </div>
                                        <input class="form-control mt-3" placeholder="Remarks">
                                        <button class="btn btn-primary w-100 waves-effect waves-light  mt-3" type="button">Convert Money </button>

                                    </div><!--end card-->
                                </div>
                            </div>

                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div>

            </div><!--end row-->
        </div><!-- container -->


    </div>
</div>






<!-- end page content -->
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/admin.pagination.js" asp-append-version="true"></script>
    <script src="~/js/admin.users.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("PartnerWalletCurrency", "Partners")',
                selector: '#WalletCurrencyTableWrapper'
            });
             $(Pagination).on('before', function (e) {
                e.preventDefault(); 
                var usersFilterFormValues = $('#formpartnertype').serializeArray();
                $.each(usersFilterFormValues, function (i, obj) {
                    e.payload.paramsBuilder.addParameter(obj['name'], obj['value']);
                });         
            });
            addPaginationHandlers();
            var SourceCurrencyvalue = $("#SourceCurrency").val();
            if (SourceCurrencyvalue != "") {
                $("#DestinationCurrency").removeAttr('disabled');
            }

        });


    </script>

    <script>
        function GetDestinationCurrency() {
            var SourceCurrency = $("#SourceCurrency").val();
            var PartnerCode = '@Model.apppartner.PartnerCode';
            var url = "/admin/Partners/GetDestinationCurrency" + '?' + "SourceCurrency=" + SourceCurrency + "&PartnerCode=" +PartnerCode;
            var decodeurl = decodeURIComponent(url);
            $.ajax({
                type: "GET",
                url: decodeurl,
                success: function(res) {
                    var items = '<option value=" ">--Select Currency--</option > ';
                    $.each(res, function(i, currency) {
                        items += "<option value='" + currency.value + "'>" + currency.text + "</option>";
                        console.log(currency);
                    });
                    $("#DestinationCurrency").removeAttr('disabled');
                    $("#DestinationCurrency").html(items);
                }
            })
        };
    </script>
}