@using Mpmt.Core.Dtos.CashAgent;
@model AgentUser

<style>
    .fit-image {
        width: 100%;
        object-fit: cover;
        height: 150px;
        margin-bottom: 2%;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Profile</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div id="user_map" class="pro-map" style="height: 120px; background: linear-gradient(to right, #0646a8, #f68f1c);">
                    </div>
                </div>
                <div class="card-body">
                    <div class="dastone-profile">
                        <div class="row">
                            <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                                <div class="dastone-profile-main">
                                    <div class="dastone-profile-main-pic">
                                        <img src="@Model.CompanyLogoImgPath" alt="" height="90" width="120" class="square" style="object-fit: cover;">
                                    </div>
                                    <div class="dastone-profile_user-detail">
                                        <h5 class="dastone-user-name">@Model.FirstName @Model.LastName</h5>
                                        <strong>@Model.UserType</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 ms-auto align-self-center">
                                <ul class="list-unstyled personal-detail mb-0">
                                    <li class=""><i class="ti ti-mobile me-2 text-secondary font-16 align-middle"></i> : @Model.ContactNumber</li>
                                    <li class="mt-2"><i class="ti ti-email text-secondary font-16 align-middle me-2"></i> : @Model.Email</li>
                                    <li class="mt-2">
                                        <i class="ti-location-pin text-secondary font-16 align-middle me-2"></i> : @Model.FullAddress
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 align-self-center">
                                <div class="row">
                                    @if (@Model.IsActive)
                                    {
                                        <div class="col-auto text-end border-end">
                                            <h4 class="m-0 fw-bold">Status</h4>
                                            <p class="mb-0 fw-semibold">
                                                Active
                                                <button type="button" class="btn btn-soft-success btn-icon-circle btn-icon-circle-sm mb-2">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                            </p>
                                            <p class="mb-0 dastone-user-name-post">@((Model.IsPrefunding) ? "Prefunding" : "")</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-auto text-end border-end">
                                            <h4 class="m-0 fw-bold">Status</h4>
                                            <p class="mb-0 fw-semibold">
                                                In Active
                                                <button type="button" class="btn btn-soft-danger btn-icon-circle btn-icon-circle-sm mb-2">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-secondary" role="alert">
                Please be advised that all details provided below are entered by authorised administrators of the company. If you encounter any discrepancies or issues with the information presented, kindly reach out to our administrative team for assistance <a href="mailto:info@mypaymt.com" class="text-primary">"info@mypaymt.com"</a>. Your cooperation is appreciated.
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Company Details</h4>
                    @* <br />
                    <p class="text-muted mb-0">
                    Please be advised that all details provided below are entered by authorized administrators of the company. If you encounter any discrepancies or issues with the information presented, kindly reach out to our administrative team for assistance. Your cooperation is appreciated.
                    </p> *@
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label class="form-label">Organization Name</label>
                            <input disabled type="text" class="form-control" value="@Model.OrganizationName">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-label">Company registration number</label>
                            <input disabled type="text" class="form-control" value="@Model.RegistrationNumber">
                        </div>
                        @* <div class="col-md-6 mb-2">
                        <label for="validationCustomUsername" class="form-label">Organization Email</label>
                        <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@@</span>
                        <input disabled type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" value="@Model.OrgEmail">
                        </div>
                        </div> *@
                        <div class="col-md-6 mb-2">
                            <label class="form-label">Country</label>
                            <input disabled type="text" class="form-control" value="Nepal" />
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-label">District</label>
                            <input disabled type="text" class="form-control" value="@Model.DistrictName">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-label">Full Address</label>
                            <input disabled type="text" class="form-control" value="@Model.FullAddress">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-label">GMT Time Zone</label>
                            <input disabled type="text" class="form-control" value="GMT +05:45">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-label">IP Address</label>
                            <input disabled type="text" class="form-control" value="@Model.IpAddress">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-label">Company Logo</label>
                            <div class="has-preview">
                                @if (!string.IsNullOrEmpty(@Model.CompanyLogoImgPath))
                                {
                                    <a href="@Model.CompanyLogoImgPath" target="_blank">
                                        <img src="@Model.CompanyLogoImgPath" alt="Company Logo" height="150" width="200" />
                                    </a>
                                }
                                else
                                {
                                    <img src="~/images/staticimage/imagenotfound.png" alt="Company Logo Image" height="150" width="200" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">License Document</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        @if (Model.LicensedocImgPath != null && Model.LicensedocImgPath.Count > 0)
                        {
                            foreach (var image in Model.LicensedocImgPath)
                            {
                                <div class="col-md-6 mb-4">
                                    <img src="@image" alt="" class="img-fluid" style="height: 180px; object-fit: cover;" />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
