@using Mpmt.Core.Dtos.FeeFundRequest;
@using Mpmt.Core.Dtos.Paging;
@model PagedList<FeeFundRequestList>

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item "><a href="javascript:void(0);">Global Setting</a></li>
                                <li class="breadcrumb-item active">Feefund request </li>
                            </ol>
                        </div>
                        <div class="col-auto">
                            <form id="formfundRequestfilter" class="row row-cols-lg-auto align-items-center">
                                <div class="col-12  mb-3">
                                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Partner Code</label>
                                    <div class="input-group">
                                        <input type="text" name="PartnerCode" class="form-control" id="inlineFormInputGroupUsername" placeholder="Partner Code">
                                    </div>
                                </div>
                                <div class="col-12  mb-3">
                                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Transactions Id</label>
                                    <div class="input-group">
                                        <input type="text" name="TxnId" class="form-control" id="inlineFormInputGroupUsername" placeholder="Txn id">
                                    </div>
                                </div>

                                <div class="col-12  mb-3">
                                    <button id="btnfundrequestfilter" type="button" class="btn btn-primary"><i class="las la-filter ms-1"></i> Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="card-title">Feefund Request Approved List</h4>
                            </div>
                            <div class="col-4">
                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <button id="btnFeefundexportexcell" class="btn btn-primary">  Export to Excel</button>
                                    <button id="btnFeefundexportcsv" class="btn btn-primary"> Export to CSV</button>
                                    <button id="btnFeefundexportPdf" class="btn btn-primary"> Export to Pdf</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body overflow-x-auto">
                        <partial name="_PaginationHeader" />
                        <div id="FeeFundRequestTableWrapper" class="table-responsive">
                            <partial name="_FeeFundRequestIndex" model="@Model" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/admin.pagination.js" asp-append-version="true"></script>

    <script src="~/js/admin.users.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            Pagination.init({
                ajax: true,
                method: 'GET',
                browserPath: '@Context.Request.Path',
                fetchUrl: '@Url.Action("FeeFundRequestIndex", "FeeFundRequest")',
                selector: '#FeeFundRequestTableWrapper'
            });

            $(Pagination).on('before', function (e) {
                e.preventDefault();
                var usersFilterFormValues = $('#formfundRequestfilter').serializeArray();
                $.each(usersFilterFormValues, function (i, obj) {
                    e.payload.paramsBuilder.addParameter(obj['name'], obj['value']);
                });

                e.payload.paramsBuilder.addParameters(getPaginationFieldParams());
            });

            addUsersPageHandlers();
            addPaginationHandlers();

            function addUsersPageHandlers() {
                $('#formfundRequestfilter').on('submit', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                })

                $('#btnfundrequestfilter').on('click', function (e) {
                    e.preventDefault();
                    Pagination.getData();
                    return false;
                });
                $('#btnFeefundexportexcell').on('click', function (e) {
                    e.preventDefault();
                    var paramsA = {
                        Export: 1

                    };
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("ExportFeeFundRequesttoexcell", "FeeFundRequest")');

                    return false;
                });
                $('#btnFeefundexportcsv').on('click', function (e) {

                    e.preventDefault();
                    var paramsA = {
                        Export: 1,

                    }
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("ExportFeeFundRequestToCsv", "FeeFundRequest")');

                    return false;
                });
                $('#btnFeefundexportPdf').on('click', function (e) {
                    e.preventDefault();
                    var paramsA = {
                        Export: 1,

                    };
                    Pagination.ExportDataWithPagination('GET', paramsA, '@Url.Action("ExportFeeFundRequesttoPdf", "FeeFundRequest")');
                    return false;
                });
            }
        });
    </script>
}