@using Mpmt.Core.Models.RMP;
@using System.Collections.Generic;
@model IEnumerable<MenuSubMenu>
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<div class="left-sidenav theme-2">
    <!-- LOGO -->
    <div class="brand">
        <a asp-area="admin" asp-controller="AdminDashboard" asp-action="Index" class="logo">
            <span>
                <img src="~/assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-light">
                <img src="~/assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
            </span>
        </a>
    </div>
    <!--end logo-->
    <div class="menu-content h-100" data-simplebar>
        <ul class="metismenu left-sidenav-menu">


            <li class="menu-label my-2">Components</li>
            @foreach (var menu in Model.Where(x => x.ViewPer == true).OrderBy(x => x.DisplayOrder))
            {

                <li>
                    @if (menu.submenus.Count() == 0)
                    {

                        <a asp-area="@menu.Area" asp-controller="@menu.Controller" asp-action="@menu.Action"><i class="@menu.ImagePath"></i><span>@menu.Title</span></a>

                    }
                    else
                    {
                        <a href="javascript: void(0);"><i class="@menu.ImagePath"></i><span>@menu.Title</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        
                        <ul class="nav-second-level " aria-expanded="true">
                            @foreach (var submenu in menu.submenus.Where(x => x.ViewPer == true).OrderBy(x => x.DisplayOrder))
                            {

                                <li class="nav-item">
                                    <a class="nav-link"
                                        asp-area="@submenu.Area"
                                        asp-controller="@submenu.Controller"
                                        asp-action="@submenu.Action">
                                        <i class="ti-control-record"></i>@submenu.Title
                                    </a>
                                </li>

                            }
                        </ul>
                    }


                </li>
            }


        </ul>
    </div>
</div>
<script src="~/assets/js/jquery.min.js"></script>

<script src="~/assets/js/metismenu.min.js"></script>
<script src="~/assets/js/app.js"></script>