@using Mpmt.Core.Dtos.Transaction;
@model TransactionDetailView

<div class="card-body p-0 auth-header-box mb-3">
    <div class="table-responsive">
        <table class="table table-hover mb-0">

            <tbody>
                <tr>
                    <td><span>Date :</span></td>
                    <td><span>@Model.TransactionDate</span></td>
                </tr>
                 <tr>
                    <td><span>Sender TxnDate :</span></td>
                    <td><span>@Model.SenderCreatedDate</span></td>
                </tr>
                 <tr>
                    <td><span>Reciver TxnDate :</span></td>
                    <td><span>@Model.ReceiverCreatedDate</span></td>
                </tr>
                <tr>
                    <td><span>Merchant Unique Id :</span></td>
                    <td><span class="tb-lead">@Model.PartnerCode</span></td>
                </tr>
              @*   <tr>
                    <td><span>Merchant Unique Id :</span></td>
                    <td><span class="tb-lead">REM99529118</span></td>
                </tr> *@
                <tr>
                    <td><span>Transaction Id :</span></td>
                    <td><span><strong style="color: #f98c45">#@Model.TransactionId</strong></span></td>
                </tr>
                <tr>
                    <td><span>Gateway Transaction Id :</span></td>
                    <td><span>@Model.GatewayTxnId</span></td>
                </tr>
                <tr>
                    <td><span>Fee Credit Limit Overflow :</span></td>
                    <td><span>@Model.FeeCreditLimitOverflow</span></td>
                </tr>
                <tr>
                    <td><span>Parent Transaction Id :</span></td>
                    <td><span>@Model.PartnerTransactionId</span></td>
                </tr>
                <tr>
                    <td><span>Merchant Name :</span></td>
                    <td><span>@Model.PartnerName</span></td>
                </tr>
                <tr>
                    <td><span>Merchant Contact No. :</span></td>
                    <td><span>9840516148</span></td>
                </tr>
                <tr>
                    <td><span>From Currency:</span></td>
                    <td><span class="tb-lead">@Model.SourceCurrency</span></td>
                </tr>
                <tr>
                    <td><span>From Amount:</span></td>
                    <td><span class="tb-lead">@Model.SendingAmount</span></td>
                </tr>
                <tr>
                    <td><span>To Currency:</span></td>
                    <td><span class="tb-lead"> @Model.DestinationCurrency</span></td>
                </tr>
                <tr>
                    <td><span>To Amount:</span></td>
                    <td><span class="tb-lead">@Model.NetReceivingAmount</span></td>
                </tr>
                <tr>
                    <td><span>Sign : </span></td>
                    <td><span class="tb-status text-success">@Model.Sign</span></td>
                </tr>
                <tr>
                    <td><span>Beneficiary Account No. :</span></td>
                    <td><span>@Model.AccountNumber</span></td>
                </tr>
                <tr>
                    <td><span>Beneficiary Bank Name :</span></td>
                    <td><span>@Model.BankName</span></td>
                </tr>
                <tr>
                    <td><span>Beneficiary Branch Name :</span></td>
                    <td><span>@Model.Branch</span></td>
                </tr>
                <tr>
                    <td><span>Service Charge :</span></td>
                    <td><span>@Model.ServiceCharge</span></td>
                </tr>
                <tr>
                    <td><span>Conversion Rate :</span></td>
                    <td><span>@Model.ConversionRate</span></td>
                </tr>
                <tr>
                    <td><span>Converted Amount :</span></td>
                    <td><span>@Model.NetSendingAmount</span></td>
                </tr>
                <tr>
                    <td><span>Wallet Type :</span></td>
                    <td><span>@Model.WalletType</span></td>
                </tr>
                <tr>
                    <td><span>Type :</span></td>
                    <td><span>@Model.PaymentType</span></td>
                </tr>
                <tr>
                    <td><span>Remarks:</span></td>
                    <td><span>Testing</span></td>
                </tr>
                <tr>
                    <td><span>Agent Status:</span></td>
                    <td><span>@Model.AgentStatus</span></td>
                </tr>
                <tr>
                    <td><span>Partner Status :</span></td>
                    <td><span class="tb-status text-success">@Model.PartnerStatus</span></td>
                </tr>
                <tr>
                    <td><span>Ip Address :</span></td>
                    <td><span>@Model.IpAddress</span></td>
                </tr>
                <tr>
                    <td><span>Compliance Status :</span></td>
                    <td><span>@Model.ComplianceStatus</span></td>
                </tr>
            </tbody>
        </table><!--end /table-->
    </div>
    <div class="mt-4">
        <div class="button-items">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>